h1 #{@question.test.title} Question

p = @question.body

h2 Answers

= link_to 'New answer', new_question_answer_path(@question)

ol
  = render @question.answers

= link_to 'Edit', edit_question_path(@question)
span<> |
= link_to 'Back', test_path(@question.test)
