h1 = t('.header', title: @test.title)

h2 = t('.questions')

= link_to t('.new_question'), new_admin_test_question_path(@test)

= render @test.questions

= link_to t('.edit'), edit_admin_test_path(@test)
br
= link_to t('.back'), admin_tests_path
